<div style="text-align: center;">
    <h1>The Movies</h1>
</div>
<ul>
    <li>
        <a href="https://www.backtothefuture.com/movies/backtothefuture1" target="_blank">Back to the Future (1985)</a>
    </li>
    <li>
        <a href="https://www.backtothefuture.com/movies/backtothefuture2" target="_blank">Back to the Future Part II (1989)</a>
    </li>
    <li>
        <a href="https://www.backtothefuture.com/movies/backtothefuture3" target="_blank">Back to the Future Part III (1990)</a>
    </li>
</ul>